.Cookies-bar {
  background: rgba(0,0,0,0.8);
  bottom: 0;
  color: #eee;
  font-size: 1.4rem;
  left: 0;
  line-height: 1.2em;
  padding: 2rem 0;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 9999;

  p {
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }
}

.Button--cookies {
  background-color: $main-color;
  border-radius: 20px;
  padding: 1rem 2rem;
}
