.Cookies-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  background: #333;
  background: rgba(0,0,0,0.8);
  line-height: 1.2em;
  color: #eee;
  text-align: center;
  padding: 10px 0;

  .Container {
    padding: 2rem 4rem;
  }

  p {
    margin-bottom: 2rem;
  }
}

.Button--cookies {
  background-color: $main-color;
  padding: 1rem 2rem;
  border-radius: 20px;
}
