.Header {
  background-color: $main-color;
  position: relative;


  @media print {
    display: none;
  }

  @media screen and (min-width: $desktop) {
    .Container {
      display: flex;
    }
  }
}

.Main-logo {
  text-align: center;

  a {
    color: $white;
    font-size: 20px;
  }
}

.Logo {
  h1 {
    color: $white;

    span {
      font-weight: 400;
    }
  }

  &:hover {
    text-decoration: none;
  }
}

.Header-content {
  display: flex;
  justify-content: space-between;
}

.Button--mobile {
  svg {
    fill: $white;
    vertical-align: middle;
  }

  @media screen and (min-width: $desktop) {
    display: none;
  }
}

.Button--close {
  display: none;
}

.is-open {

  .Navigation, .Button--close {
    display: flex;
  }

  .Navigation {
    flex-direction: column;
    height: calc(100vh - 126px);

    @media screen and (min-width: $tablet) {
      height: calc(100vh - 226px);
    }

  }

  .Menu-social {
    margin-bottom: 0;
  }

  .Button--close {
    @media screen and (min-width: $desktop) {
      display: none;
    }
  }

  .Button--open {
    display: none;
  }
}

.is-open.Header {
  height: 100vh;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 100;
}
