.Logos-Client {
  padding-top: 0;
}

.Logos {
  align-items: center;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: $tablet) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

}

.Logo-image {
  display: block;
  width: 160px;
}

.Logo-company {
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }

  a {
    display: block;
    line-height: 0;
  }

  @media screen and (min-width: $desktop) {
    margin-bottom: 0;
  }
}

.logo-link-nice {
  background-color: #87E893;
  height: 57px;
  padding-left: 10px;
  padding-right: 10px;
}

.logo-link-populate {

  img {
    width: 150px;
  }

}
