// Base horizontal navigation
// -----------

// <nav>
//   <ul class="Navigation">
//     <li>
//       <a href="#">Works</a>
//     </li>
//     <li>
//       <a href="#">About</a>
//     </li>
//     <li>
//       <a href="mailto: hi@gemaderus.com">Contact</a>
//     </li>
//   </ul>
// </nav>

.Navigation {
  background-color: #FB4747;
  display: none;
  left: 0;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 10;

  @media screen and (min-width: $desktop) {
    display: block;
    flex: 1;
    position: static;
    width: auto;
  }

  .Menu-social {
    @media screen and (min-width: $desktop) {
      display: none;
    }
  }
}

.Navigation-items {
  align-items: center;
  background-color: $main-color;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  line-height: normal;
  width: 100%;

  li {
    transition: background 0.3s ease;

    &:last-child {
      margin-right: 0;
    }
  }

  @media screen and (min-width: $desktop) {
    flex-direction: row;
    justify-content: flex-end;
    padding: 0;

    li {
      border-bottom: 0;
      margin-right: 70px;
      padding: 0;

      &:first-child {
        border-top: 0;
      }
      &:hover {
        background-color: initial;
      }
    }
  }
}

.Navigation-link {
  color: $white;
  display: block;
  font-size: 30px;
  padding: 20px;
  transition: color 0.3s ease;
  width: 100%;

  &:hover {
    box-shadow: 0 1px 0 0 $white;
    overflow-x: hidden;
    text-decoration: none;
  }

  @media screen and (min-width: $desktop) {
    font-size: 18px;
    padding: 0;
  }
}
