.skills-holder {
  // justify-content: space-between;
  // align-items: center;
  width: 30%;
  // display: flex;

  // justify-content: space-between;
}

// .stars {
//   display: flex;
//   justify-content: space-between;
// }
//
// .stars-gray {
//   fill: $base-color;
// }
//
// .stars-lightgray {
//   fill: #ccc;
// }


.skills {
  display: flex;
  justify-content: space-between;
}
