.About {
  text-align: center;
}

.Content-about {
  a {
    color: $main-color;

    &:hover {
      text-decoration: underline;
    }
  }

  p {
    font-size: 20px;
  }
}

.Lead {
  font-size: 30px;
  margin-bottom: 30px;
}

.Resume-link a {
  font-size: 20px;
}
