.Resume-container--inner.has-border {
  padding-bottom: 30px;

  @media (min-width: $tablet) {
    border-bottom: 1px solid #ddd;
    padding-bottom: 3rem;
  }
}

.Resume-info {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  margin: auto;
}

.Intro--resume {
  display: none;

  .Container {
    padding-top: 30px;
  }

  @media print {
    background-color: transparent;
    display: block;

    .Intro-content {
      color: $main-color;
      margin-bottom: 31px;
      margin-left: 0;
      max-width: auto;
      padding-left: 0;
      text-align: left;
    }

    a {
      color: $base-color;
    }
  }
}

.Block-one {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.Blocker {
  margin-bottom: 2rem;

  h3 {
    font-size: 26px;
  }

  h4 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  @media screen and (min-width: $tablet) {

    &:nth-last-child(-n+2) {
      margin-bottom: 0;
    }
  }

  @media print {
    width: 45%;
  }
}

.Resume-jobs {
  @media (min-width: $tablet) {
    padding-top: 3rem;
  }
}

.Block-two {

  .Blocker--intro {
    margin-bottom: 20px;

    @media (min-width: $tablet) {
      margin-bottom: 30px;
    }
  }

  @media print {
    display: flex;
    flex-wrap: wrap;
  }
}

.Project-list {
  @extend .clearfix;
}

.Blocker--left {
  @media (min-width: $tablet) {
    float: left;
    margin-right: 10%;
    width: 45%;
  }

  @media print {
    flex: 0 0 45%;
    margin-right: 10%;
  }
}

.Blocker--right {
  @media (min-width: $tablet) {
    float: right;
    width: 45%;
  }

  @media print {
    flex: 0 0 45%;
  }
}

.Blocker--last {
  margin-bottom: 0;
}

.Project-link {
  color: $base-color;
  font-size: 12px;

  &:hover {
    text-decoration: underline;
  }

  @media print {
    display: none;
  }
}
