.Resume {
  .Title {
    margin-bottom: 2rem;
  }
}

.contact-item a:hover {
  text-decoration: none;
}

.contact-item-mail {
  color: #FB4747;
}


.Resume-container--inner.has-border {
  padding-bottom: 30px;

  @media (min-width: $tablet) {
    border-bottom: 1px solid #ddd;
    padding-bottom: 3rem;
  }
}

.Resume-info {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  margin: auto;
}

.contact-item {
  border: 1px solid #ddd;
  padding: 2rem 1rem;
  margin-bottom: 2rem;

  svg {
    vertical-align: middle;
    margin-right: 2rem;
  }
}

.Intro--resume {
  margin-bottom: 4rem;

  .Container {
    padding-top: 30px;
  }

  .Intro-content {

      // margin-bottom: 31px;
      margin: 0;
      // max-width: auto;

      text-align: left;

      h2 {
        color: $main-color;
      }

      span {
        color: #555;
      }

    }
  // @media print {
  //   background-color: transparent;
  //   display: block;

  //   // .Intro-content {
  //   //   color: $main-color;
  //   //   margin-bottom: 31px;
  //   //   margin-left: 0;
  //   //   max-width: auto;
  //   //   padding-left: 0;
  //   //   text-align: left;
  //   // }

  //   a {
  //     color: $base-color;
  //   }
  // }

  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.skills {
  background-color: $main-color;
  color: $white;
  padding: 2rem 4rem;
  border-radius: 8px;
}

.timeline {
  display: flex;
  position: relative;
  width: 8px;
  background-color: $main-color;
  border-radius: 6px;
}

.works {
  padding-bottom: 4rem;

  h3 {
    margin-bottom: 4rem;
  }
}

.timeline-holder {
  display: flex;
  position: relative;
}

.timeline--item {
  margin-left: 2rem;
  font-size: 2rem;
  margin-bottom: 3rem;

  h4 {
    font-size: 1.8rem;
  }

  h3, h4 {
    line-height: 1;
  }

  h3, h4 {
    margin-bottom: 6px;
  }

  p {
    margin-bottom: 3px;
  }

  p {
    font-size: 1.4rem;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.graphic {
  width: 200px;
}

.timeline--item:before {
  display: inline-block;
  content: '';
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: $main-color;
  position: absolute;

}

.timeline-left.timeline--item:before {
  left: -4px;
}

.timeline-right.timeline--item:before {
  right: -4px;
}

.Project-link-resume {
  display: flex;
  align-items: center;
}

.Resume--main-content {
  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
  }
}

.Project-link {
  color: $base-color;
  font-size: 12px;

  &:hover {
    text-decoration: underline;
  }
}


.Block-one {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.Blocker {
  margin-bottom: 2rem;

  h3 {
    font-size: 26px;
  }

  h4 {
    font-size: 2rem;
    margin-bottom: 10px;
  }

  @media screen and (min-width: $tablet) {

    &:nth-last-child(-n+2) {
      margin-bottom: 0;
    }
  }

  @media print {
    width: 45%;
  }
}

.Resume-jobs {
  @media (min-width: $tablet) {
    padding-top: 3rem;
  }
}

.Block-two {

  .Blocker--intro {
    margin-bottom: 2rem;

    @media (min-width: $tablet) {
      margin-bottom: 30px;
    }
  }

  @media print {
    display: flex;
    flex-wrap: wrap;
  }
}

.Project-list {
  @extend .clearfix;
}

.Blocker--left {
  @media (min-width: $tablet) {
    float: left;
    margin-right: 10%;
    width: 45%;
  }

  @media print {
    flex: 0 0 45%;
    margin-right: 10%;
  }
}

.Blocker--right {
  @media (min-width: $tablet) {
    float: right;
    width: 45%;
  }

  @media print {
    flex: 0 0 45%;
  }
}

.Blocker--last {
  margin-bottom: 0;
}

// .Project-link {
//   color: $base-color;
//   font-size: 12px;

//   &:hover {
//     text-decoration: underline;
//   }

//   @media print {
//     display: none;
//   }
// }
