.Resume {
  .Title {
    margin-bottom: 2rem;

    @media (min-width: $tablet) {
      text-align: right;
    }
  }
}

.contact-item a:hover {
  text-decoration: none;
}

.contact-item-mail {
  color: #FB4747;
}

.Resume--main-content {
  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
  }
}

.Resume-container--inner.has-border {
  padding-bottom: 30px;

  @media (min-width: $tablet) {
    border-bottom: 1px solid #ddd;
    padding-bottom: 3rem;
  }
}

.Resume-info {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  margin: auto;
}

.Intro--resume {
  margin-bottom: 4rem;

  .Container {
    padding-top: 30px;
  }

  .Intro-content {
    margin: 0;
    text-align: left;

    h2 {
      color: $main-color;
    }

    span {
      color: #555;
    }

  }

  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.Project-link-resume {
  display: flex;
  align-items: center;
}

.Project-link {
  color: $base-color;
  font-size: 12px;

  &:hover {
    text-decoration: underline;
  }
}

//Timeline

.timeline {
  display: flex;
  position: relative;
  width: 8px;
  background-color: $main-color;
  border-radius: 6px;
}

.timeline--inverse {
  flex: 1;
  text-align: right;

  li {
    margin-left: 0;
    margin-right: 20px;
  }
}

.timeline-holder {
  display: flex;
  position: relative;
}

.timeline--item {
  margin-left: 2rem;
  font-size: 2rem;
  margin-bottom: 3rem;

  h4 {
    font-size: 1.8rem;
  }

  h3, h4 {
    line-height: 1;
  }

  h3, h4 {
    margin-bottom: 6px;
  }

  p {
    margin-bottom: 3px;
  }

  p {
    font-size: 1.4rem;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.timeline--item:before {
  display: inline-block;
  content: '';
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: $main-color;
  position: absolute;

}

.timeline-left.timeline--item:before {
  left: -4px;
}

.timeline-right.timeline--item:before {
  right: -4px;
}

.works {
  padding-bottom: 4rem;

  h3 {
    margin-bottom: 4rem;
  }
}

//Skills

.skills {
  color: #FB4747;
  padding: 2rem 4rem;
  border-radius: 8px;
  border: 1px solid #ddd;
}

// .graphic {
//   width: 400px;
// }

//Contact
.contact-item {
  border: 1px solid #ddd;
  padding: 2rem;
  margin-bottom: 2rem;
  border-radius: 8px;

  svg {
    vertical-align: middle;
    margin-right: 2rem;
  }
}

.contact-list {
  @include min-screen($tablet) {
    max-width: 300px;
    margin-left: auto;
  }
}




// .Resume-jobs {
//   @media (min-width: $tablet) {
//     padding-top: 3rem;
//   }
// }
